<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Positions</title>
  </head>

  <body>
    <table style="width:300px;text-align:left">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Team</th>
    </tr>
    <% @rosters.each do |roster| %>
      <% if roster[:position] == params[:position] %>
        <tr>
          <td><%= "#{roster[:first_name]}" %></td>
          <td><%= "#{roster[:last_name]}" %></td>
          <td><%= "#{roster[:team]}" %></td>
        </tr>
      <% end %>
    <% end %>
    </table>
  </body>
</html>
