<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Positions</title>
  </head>

  <body>
    <h1>Teams</h1>

    <ul>
      <% @team_list.each do |roster| %>
        <li>
          <a href="<%= url("/teams/#{roster}") %>">
          <%= "#{roster}" %></a>
        </li>
      <% end %>
    </ul>

    <h1>Positions</h1>

    <ul>
      <% @positions_list.each do |roster| %>
        <li>
          <a href="<%= url("/positions/#{roster}") %>">
            <%= "#{roster}" %>
          </a>
        </li>
      <% end %>
    </ul>
  </body>
</html>
