<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Basic HTML Page</title>
  </head>

  <body>
    <ul>
      <% @rosters.each do |roster| %>
        <% if roster[:team] == params[:team] %>
          <li>
            <%= "#{roster[:first_name]} #{roster[:last_name]} #{roster[:team]}" %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </body>
</html>



